<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
        <h1>No Angular XHR</h1>
        <button onclick="makeCorsRequest()">Send XHR</button>
    </div>
    <script type="text/javascript">
    function createCORSRequest(method, url) {
      var xhr = new XMLHttpRequest();
      if ("withCredentials" in xhr) {

        // Check if the XMLHttpRequest object has a "withCredentials" property.
        // "withCredentials" only exists on XMLHTTPRequest2 objects.
        xhr.open(method, url, true);

      } else if (typeof XDomainRequest != "undefined") {

        // Otherwise, check if XDomainRequest.
        // XDomainRequest only exists in IE, and is IE's way of making CORS requests.
        xhr = new XDomainRequest();
        xhr.open(method, url);

      } else {

        // Otherwise, CORS is not supported by the browser.
        xhr = null;

      }
      return xhr;
    }

    function makeCorsRequest() {
        var url = 'https://openlibrary.org/api/books?bibkeys=ISBN:1933988355&format=json';

        var xhr = createCORSRequest('GET', url);
        if (!xhr) {
            alert('CORS NOT SUPPORTED');
            return;
        }

        xhr.onload = function() {
            var text = xhr.responseText;
            alert('Response from CORS request: '+ text);
        };

        xhr.onerror = function() {
            alert('An error occurred making the request');
        };

        xhr.send();
    }
    </script>
  </body>
</html>
