<form>
    <fieldset>
        <label>
            <h2>Information correct?</h2>
            <p>Search by:</p>
            Title:<input type="text" ng-model="ctrl.addToDb.title">
            <br>
            Author:<input type="text" ng-model="ctrl.addToDb.author">
            <br>
            Year:<input type="text" ng-model="ctrl.addToDb.year">
            <br>
            Notes:<input type="text" ng-model="ctrl.addToDb.notes">
            <br>
        </label>
        <button ng-click="ctrl.post()">Add</button>
        <button ng-click="isVisible=false">Cancel</button>
    </fieldset>
</form>
