<form>
    <fieldset>
        <label>
            <h1>Information correct?</h1>
            <p>Search by:</p>
            Title:<input type="text" ng-model="ctrl.addToDb.title">
            <br>
            Author:<input type="text" ng-model="ctrl.addToDb.author">
            <br>
            Year:<input type="text" ng-model="ctrl.addToDb.year">
            <br>
            Notes:<input type="text" ng-model="ctrl.addToDb.notes">
            <br>
        </label>
        <button>Add</button>
    </fieldset>
</form>
