<div>
    <form>
        <fieldset>
            <label>
                <h1>Add Book To Reading List</h1>
                <p>Search by:</p>
                <input type="radio" ng-model="ctrl.newSearch.type" value="isbn">ISBN
                <input type="radio" ng-model="ctrl.newSearch.type" value="title">Title
                <input type="radio" ng-model="ctrl.newSearch.type" value="author">Author
                <br>
                <input type="text" ng-model="ctrl.newSearch.params">
                <br>
            </label>
            <button ng-click="ctrl.getBooks(ctrl.newSearch)">Search</button>
            <button ng-click="ctrl.clearBooks()">Done</button>
        </fieldset>
    </form>

    <div id="preview">
        <div class="book-container" ng-repeat="book in bookData">
            <img ng-src="http://covers.openlibrary.org/b/lccn/{{book.lccn[0]}}-M.jpg?default=false" src-fallback="{{book.lccn}}" src-index="0" ng-click="isVisible=true">
            <p>{{book.title_suggest | limitTo: 20}}{{book.title_suggest.length > 20 ? '...' : ''}}</p>
            <p authors>{{book.author_name | limitTo: 20}}{{book.author_name.length > 20 ? '...':''}}</p>
            <p>{{book.first_publish_year}}</p>
            <add-popup ng-show="isVisible"></add-popup>
        </div>
        <span></span>
    </div>
</div>
