body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.book-container {
    display: inline-block;
    margin: 1%;
    overflow: auto;
    width: 200px;
}

.book-container img {
    width: 190px;
    height: 280px;
}
